<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>To Do Application</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">To Do Application</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container col-md-5">
		<div class="card">
			<div class="card-body">
				<form th:action="@{/addToDoDetails}" method="post">

					<caption>
						<h2>Add New Todo</h2>
					</caption>

					<fieldset class="form-group">
						<label>Todo Title</label>
						<input type="text" th:value="${todoDetails.title}" class="form-control" name="title" required
							minlength="5">
					</fieldset>

					<fieldset class="form-group">
						<label>Todo Description</label>
						<input type="text" th:value="${todoDetails.description}" class="form-control" name="description"
							minlength="5">
					</fieldset>

					<fieldset class="form-group">
						<label>Todo Target Date</label>
						<input type="date" th:value="${todoDetails.targetDate}" class="form-control" name="targetDate"
							required>
					</fieldset>
					
					<fieldset class="form-group">
						<label>Todo Status</label>
						<select class="form-control" name="status" th:value="${todoDetails.status}">
							<option value="false">In Progress</option>
							<option value="true">Complete</option>
						</select>
					</fieldset>

					<button type="submit" class="btn btn-success">Save</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>